:root {
  --bg-color: #e5ddd6;
  --red: #ff5656;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--red);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
